<!DOCTYPE html>
<!--[if IE 8]>
<html class="lt-ie10 lt-ie9" xmlns:ng="http://angularjs.org">
<![endif]-->
<!--[if IE 9]>
<html class="lt-ie10">
<![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->
<head>
  <title>StarterKit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- Windows phone -->
  <meta name="application-name" content="StarterKit"/>

  <%- include partial/meta_favicon.ejs %>

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/admin/dropzone.css">
  <link rel="stylesheet" href="/styles/admin/timeline.css">
  <link rel="stylesheet" href="/styles/cms.css">
  <!--STYLES END-->
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Lato|PT+Serif|Oswald:400' rel='stylesheet' type='text/css'>

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script type="text/javascript" src="scripts/vendor/html5shiv.min.js"></script>
  <script type="text/javascript" src="scripts/vendor/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<!-- angular view -->
<body ng-app="AdminApp" ng-controller="MainCtrl">
<!-- angular view -->
<div class="angular-view" ng-view></div>

<% if (typeof login == "undefined") { %>
<!-- JS Files not in sails js linker && loaded before Angular -->
<!--SCRIPTS::admin-->
<script src="/scripts/dependencies/_bower.js"></script>
<script src="/scripts/templates/admin_templates.js"></script>
<!--SCRIPTS END-->
<!-- JS Files not in sails js linker -->
<script src="/scripts/vendor/ng-file-upload/angular-file-upload.min.js"></script>
<% } %>
</body>
</html>
