.alert {
  font-size: 15px;
  &.has-icon-left {
    position: relative;
    padding-left: 50px;
    &.alert-warning:before {
      content: "\f05a";
      font-family: "FontAwesome";
      font-size: 24px;
      line-height: 24px;
      position: absolute;
      top: 50%; left: 15px;
      margin-top: -12px;
    }
  }
  &.alert-success {
    position: relative;
    padding-left: 50px;
    @include font-core-bold;
    &:before {
      content: "\f058";
      font-family: "FontAwesome";
      font-size: 24px;
      line-height: 24px;
      position: absolute;
      top: 50%; left: 15px;
      margin-top: -12px;
    }
  }
  &.alert-danger {
    position: relative;
    padding-left: 50px;
    @include font-core-bold;
    &:before {
      content: "\f05a";
      font-family: "FontAwesome";
      font-size: 24px;
      line-height: 24px;
      position: absolute;
      top: 50%; left: 15px;
      margin-top: -12px;
    }
  }
}

.article-editor .alert-container {
  position: fixed;
  bottom: 50px;
}