.footer-bar {
  width: 100%;

  position: relative;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 12px;
  line-height: 1.5;
  color: #767676;
  border-top: 1px solid #eee;
}

.modal .close-button {
  position: absolute;
  top: 17px; right: 20px;
}

.footer-navigation {
  font-size: 12px;
  position: relative;
  margin-bottom: 0;

  li {
    display: inline-block;
    margin-left: 10px;

    a {
      color: $dark-red;

      &:hover,
      &.active {
        text-decoration: underline;
      }
    }
  }
}
