header.main {
  h1 {
    margin: 0;
  }
}

header.compact {
  h1 {
    margin: 15px 0 0 10px;
    font-size: 24px;
    @include breakpoint(mobile) {
      margin: -10px 0 0 20px;
      font-size: 16px;
      clear: both;
    }
  }
  .nav-user-profile a {
    padding: 11px 0 0 0;
    margin: 0 10px 0 20px;
    .user-name {
      margin-top: 5px;
      font-size: 16px;
      color: #979797;
    }
  }
}

.navbar-main {
  margin: 0 0 10px 0;
  @include breakpoint(mobile) {
    margin: 0;
  }
  border: 0;
  border-radius: 0;
  .navbar-brand {
    padding: 0;
    img {
      height: 50px;
      width: auto;
      margin-top: 2px;
    }
  }
  .navbar-nav {
    margin: 0;
  }
  .nav > li > a {
    background-color: transparent;
    @include font-core-light;
    color: $light-red;
    @include breakpoint(medium) {
      padding: 10px;
    }
    @include breakpoint(mobile) {
      padding: 25px 0;
      @include font-core-thin;
      font-size: 36px;
      text-align: center;
    }
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
  .nav > li {
    &.active {
      & > a {
        @include font-core-bold;
        color: #333;
        @include breakpoint(mobile) {
          @include font-core-thin;
          font-size: 36px;
          text-align: center;
        }
      }
    }
  }
}

.navbar-toggle {
  .icon-bar {
    height: 4px;
    background-color: $dark-red;
  }
  .toggle-text {
    margin-right: 10px;
    @include font-core-light;
    font-size: 16px;
    color: $dark-red;
    text-transform: uppercase;
  }
}

.user-profile-box {
  .media-left {
    margin: 0;
  }
  & > .media-body {
    height: 54px;
    padding: 12px 20px 12px 25px;
    background-color: #F2F2F2;
    @include font-core-light;
    color: $black;
    i {
      font-size: 26px;
      color: #AAB5B9;
    }
  }
}

.user-profile-box > .media-body {
  @include breakpoint(mobile) {
    background-color: #EBEBEB;
  }
}

.nav .open > a, .nav .open > a:hover,
.nav .open > a:focus {
  background-color: transparent;
}

.navbar-main .nav .nav-language {
  @include breakpoint(mobile) {
    & > a {
      font-size: 24px;
    }
    .current-language {
      color: #606060;
    }
  }
}

.dropdown-menu.dropdown-user-profile {
  width: 340px;
  height: auto;
  padding: 20px;
  top: 135%;
  right: -40px;
  border-radius: 6px !important;
  border: 1px solid rgba(201, 201, 201, 0.65);
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.14);
  &:before {
    left: auto;
    right: 51px;
    margin: 0;
    border-bottom-color: rgba(201, 201, 201, 0.65);
  }
  &:after {
    left: auto;
    right: 53px;
    margin: 0;
  }
  .media > .pull-left {
    margin-right: 20px;
  }
  .media-body {
    font-size: 14px;
    line-height: 20px;
    color: #737373;
    h4 {
      margin: 0 0 10px 0;
      @include font-core;
      font-size: 18px;
      opacity: 1;
      color: black;
    }
  }
  //  .submit-btn-wrapper {
  //    position: absolute;
  //    left: 20px; right: 20px; bottom: 20px;
  //  }
}

.profile-box-dropdown {
  .dropdown-menu.dropdown-user-profile {
    top: 110%;
    right: 14px;
    left: auto;
  }
}

.profile-box-dropdown .dropdown-menu.dropdown-user-profile,
.dropdown-menu.dropdown-user-profile {
  @include breakpoint(mobile) {
    position: relative !important;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    top: auto;
    border: 1px solid rgba(201, 201, 201, 0.65) !important;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.14) !important;
  }
}

.navbar-brand {
  @include breakpoint(mobile) {
    h1 {
      font-size: 10px !important;
    }
  }
}

.navbar-collapse {
  padding: 0;
  .navbar-nav {
    @include breakpoint(mobile) {
      padding: 0 20px;
      background-color: #F6F6F6;
    }
  }
}

.menu-search-item {
  input {
    background-color: #BBBBBB;
    border-radius: 3px;
    @include font-core-thin;
    font-size: 16px;
    color: white;
    text-align: center;
    &:active, &:focus {
      background-color: #A3A2A2;
      border-radius: 3px;
      @include font-core-thin;
      font-size: 16px;
      color: white;
      text-align: center;
    }
    &::-webkit-input-placeholder {
      color: white !important;
      opacity: 1 !important;
    }
    &:-moz-placeholder {
      color: white !important;
      opacity: 1 !important;
    }
    &::-moz-placeholder {
      color: white !important;
      opacity: 1 !important;
    }
    &:-ms-input-placeholder {
      color: white !important;
      opacity: 1 !important;
    }
  }
}

////
.top {
  width: 100%;
  background: #EEEFF1;
  padding: 0;
  border-bottom: 1px solid #E4E5E7;
}

ul.social {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: table;
  text-align: center;

  li {
    float: left;
    display: inline;
    padding: 4px 10px;
    border-right: 1px solid #E4E5E7;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }
}


.logo-font {
  font-family: Lato;
}

.logo {
  display: block;
  padding-top: 92px;

  &:hover {
    text-decoration: none;
  }

  .logo-text {
    font-family: Lato;
    font-size: 45px;
    margin: 0;
  }

  .motto {
    font-size: 14px;
  }

  @include breakpoint(mobile) {
    background-size: 100%;
    padding-top: 75px;

    .logo-text {
      font-size: 32px;
    }
    .motto {
      font-size: 10px;
    }
  }
}

.header {
  padding-bottom: 30px;
}

.navigation {
  position: relative;

  li {
    display: inline-block;
    padding: 0;
    margin: -3px;

    a {
      text-transform: uppercase;
      background: #EEEFF1;
      font-size: 12px;
      padding: 10px 25px;

      @include breakpoint(mobile){
        padding: 8px 10px;
        font-size: 10px;
      }

      &:hover,
      &.active {
        background: $black;
        color: white;
        text-decoration: none;
      }
    }
  }
}

hr.menu {
  position: absolute;
  left: 0;
  right: 0;
  top: -3px;
  z-index: -1;
}
