//greys
$light-grey: #EFEFEF;
$lighter-grey: #fbfbfb;
$bg-grey: #f7f7f7;
$text-grey: #555555;
$border-grey: #E2E2E2;

//greens
$light-red: #e90000;
$bright-red: #bf0000;
$dark-red: #7c0000;

//other
$black: #151515;
$orange: #e4712a;

.color-black {
  color:$black
}

.color-text-grey {
  color:$text-grey;
}

.color-light-green {
  color:$light-red;
}