<div class="footer-bar">
  <ul class="footer-navigation list-unstyled">
    <li>© 2015 <span title="can be use to debug page request speed">Finde</span></li>
    <li><a href="#/site/terms" data-ga-click="Footer, go to terms, text:terms">Terms</a></li>
    <li><a href="#/site/privacy" data-ga-click="Footer, go to privacy, text:privacy">Privacy</a></li>
    <li><a href="#/security" data-ga-click="Footer, go to security, text:security">Security</a></li>
    <li><a href="#/contact" data-ga-click="Footer, go to contact, text:contact">Contact</a></li>
    <li><a href="#/help" data-ga-click="Footer, go to help, text:help">Help</a></li>
  </ul>
</div>
