<div class="header clearfix">

  <div class="top col-md-12">
    <a class="" style="position: absolute; top:15px; right: 15px; z-index:10000"
       href="/cms"><small><% if (typeof user !== "undefined") { %>go to backend<% } else { %>login<% } %></small></a>
  </div>


  <div class="col-md-12">
    <a href="/" class="logo">
      <div class="text-center">
        <h1 class="logo-text"><span style="color:black">Hea</span>der Ti<span style="color:black">tle</span></h1>

        <p class="text-center motto">&mdash; A minimalistic starterkit &mdash;</p>
      </div>
    </a>
  </div>

</div>
