<div class="clearfix">
    <nav class="main-container text-center">
        <ul class="navigation list-unstyled">
            <li><a class="<% if (currentLoc =='home') {%>active<%}%>" href="/">HOME</a><hr class="menu"></li>
            <li><a class="<% if (currentLoc =='page1') {%>active<%}%>" href="/">Page1</a></li>
            <li><a class="<% if (currentLoc =='page2') {%>active<%}%>" href="/">Page2</a></li>
            <li><a class="<% if (currentLoc =='page3') {%>active<%}%>" href="/">Page3</a></li>
        </ul>
    </nav>
</div>
