<aside class="sidebar">
    <section class="offset-margin-bottom-30">
        <h4>Sidebar</h4>
        <ul class="list-group">
            <li><a href="#" rel="nofollow">#sidebar item</a></li>
            <li><a href="#" rel="nofollow">#sidebar item</a></li>
            <li><a href="#" rel="nofollow">#sidebar item</a></li>
            <li><a href="#" rel="nofollow">#sidebar item</a></li>
            <li><a href="#" rel="nofollow">#sidebar item</a></li>
            <li><a href="#" rel="nofollow">#sidebar item</a></li>
            <li><a href="#" rel="nofollow">#sidebar item</a></li>
            <li><a href="#" rel="nofollow">#sidebar item</a></li>
            <li><a href="#" rel="nofollow">#sidebar item</a></li>
        </ul>
    </section>
</aside>
